<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <h2>Menu:</h2>
    <ul>
        {% for item in menu %}
            <li><a href="{{ item.url }}">{{ item.name }}</a></li>
        {% endfor %}
    </ul>
    <h1>Ratings and Recommendations</h1>
    <!-- Ratings Bar Chart -->
    <div>
        <h2>Ratings</h2>
        <img src="data:image/png;base64,{{ plot_url }}" alt="Ratings Bar Chart">
    </div>

    <!-- Recommendations Pie Chart -->
    <div>
        <h2>Recommendations</h2>
        <img src="data:image/png;base64,{{ plot_url1 }}" alt="Recommendations Pie Chart">
    </div>
</body>
</html>
